.input {
    width: 200px;
    height: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #5ba8ff;
    border-radius: 10px;
    outline: none;
    font-family: 'Almarai';
}

.btn {
    height: 30px;
    width: 100px;
    background-color: rgba(167, 231, 255, 0.5);
    border: 1px solid #5ba8ff;
    border-radius: 10px;
    font-family: 'Almarai';
}

.btn:hover {
    background-color: rgb(167, 231, 255);
    cursor: pointer;
}